/* Colours:
Blues:
base: #4F7F9E
dark: #406680
light: #CFDCE6
bright: #3086BF
*/
body {
	margin:0;
    font-family: Trebuchet, Verdana, sans-serif;
    font-size:90%;
	background-color: #FFFFFF;
	color : #000000;
	text-align:justify;
}

#page {
	width: 600px;
	background: #DDDDDD;
	margin: 25px auto 0px auto;
	padding: 40px 10px 10px 10px;
	display: block;
}

#content {
}

#content h2 {
	text-align: center;
}
